<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CalcularSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="CalcularSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44368/Calcular.asmx" binding="basicHttpBinding"
                bindingConfiguration="CalcularSoap" contract="calcularAreas1.CalcularSoap"
                name="CalcularSoap" />
        </client>
    </system.serviceModel>
</configuration>